
        h1 {
            text-align: center;
        }
        h2{
            text-align:center;
        }
        h3{
            text-align:center;
        }
        body{
            background-color:#777777;
        }
      
        p {
            text-align: center;
        }
        .form-group{
            text-align:center;
        }
       #match-name{
           
           color:white;
           font-size:100px
       }
       #modal-text{
        text-align:center;
        color:white;
    }
       .modal-body{
           background-color:#777777
       }
    .container{
        background-color:aliceblue;
    }
    .links{
        color:red;
        text-align:center;
        font-weight:bold;

    }