
        h1 {
            text-align: center;
        }
        h2{
            text-align:center;
        }
        h3{
            text-align:center;
        }
        body{
            background-color:red;
        }
      
        p {
            text-align: center;
        }
        .form-group{
            text-align:center;
        }
       .modal-text{
           text-align:center;
           color:white;
       }
       .modal-body{
           background-color:#777777
       }
    .container{
        background-color:aliceblue;
    }